<div id="about">
  <h1>Christina Blakely</h1>
  <h2>Web Developer and Cybersecurity Consultant</h2>
  <h4>
    I am a web developer and cybersecurity consultant that aims to minimize the
    threat of security incidents by producing secure websites that still provide
    an exciting user experience. I also create web-based security content on DEV
    in order to educate other web developers of the risks associated with not
    building websites with security in mind. I hold an Associates of Science in
    Cybersecurity and a Bachelors of Applied Science in Business Management,
    Project Management. Whether you have your own business or just have an idea
    for a project, you’re welcome to get in touch with me!
  </h4>
  <div id="contact">
    <h5><a href="https://github.com/ceblakely">View GitHub</a></h5>
    <h5><a href="https://dev.to/ceblakely">View DEV</a></h5>
    <h5><a href="mailto:cblakelydev@gmail.com">Email Me</a></h5>
  </div>
</div>
