<div id="about">
  <div id="col1">
    <div>
      <h1>Christina Blakely</h1>
      <h3>Boston-Based Web Developer and <br />Cybersecurity Consultant</h3>
    </div>
    <div id="contact">
      <a href="https://github.com/ceblakely"
        ><img src="images/GitHub-Mark-64px.png"
      /></a>
      <a href="https://dev.to/ceblakely"><img src="images/devLogo.png" /></a>
      <a href="mailto:cblakelydev@gmail.com"
        ><img
          src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/64/000000/external-email-ui-essentials-flatart-icons-outline-flatarticons.png"
      /></a>
    </div>
  </div>
  <div id="col2">
    <div id="row1">
      <div id="webSkills">
        <h4>Web Development</h4>
        <ul>
          <li>Use of Figma and Adobe XD to produce interfaces and clickable prototypes</li>
          <li>Ability to convert wireframes to a responsive and interactive website</li>
          <li>Experience includes vanilla JavaScript, Node.JS, Python, HTML5, and CSS3</li>
          <li>Proficient with using Git verision control to manage branches, commits, and pull requests</li>
        </ul>
      </div>
      
      <div id="cyberSkills">
        <h4>Cybersecurity</h4>
        <ul>
          <li>Well-versed with Microsoft's suite of security services, such as Azure Active Directory, Azure Defender, Azure Sentinel, and Microsoft 365 Defender </li>
          <li>Worked alongside Managed Service Providers (MSPs) to maintain administrator access to accounts, assist with placing orders for new Microsoft services, and initiating the process of getting authorization to implement requested mailbox permissions </li>
          <li>Hands-on experience with configuring routers and switches </li>
        </ul>
      </div>
      </div>
      <div id="row2">
        <div id="education">
          <h4>Education</h4>
          <ul>
            <li>
              Pensacola State College - Associate in Science of Cybersecurity |
              2019
            </li>
            <li>
              Pensacola State College - Bachelor of Applied Science in Business
              Management, Project Management | 2021
            </li>
          </ul>
        </div>
        <div id="certs">
          <h4>Certifications</h4>
          <ul>
            <li>Microsoft Security Operations Analyst (SC-200)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
