<h4>
  I am a web developer and cybersecurity consultant that aims to minimize the
  threat of security incidents by producing secure websites that are still
  exciting to the user. I also create web-based security content on DEV in order
  to educate other web developers of the risks associated with not building
  websites with security in mind. I hold an Associates of Science in
  Cybersecurity and a Bachelors of Applied Science in Business Management,
  Project Management. Whether you have your own business or just have an idea
  for a project, you/’re welcome to get in touch with me!
</h4>
