<div id="articles">
  <h3>Articles</h3>
  <div id="articlesRow1">
    <figure>
      <a
        href="https://dev.to/ceblakely/web-security-for-developers-cross-site-scripting-xss-1hh9"
        ><img src="/images/xssAttacks.png"
      /></a>
      <figcaption>
        <a
          href="https://dev.to/ceblakely/web-security-for-developers-cross-site-scripting-xss-1hh9"
          >Web-Security for Developers: Cross-Site Scripting</a
        >
      </figcaption>
    </figure>
    <figure>
      <a href="https://dev.to/ceblakely/starting-with-github-made-easy-3g8"
        ><img src="/images/github1.png"
      /></a>
      <figcaption>
        <a href="https://dev.to/ceblakely/starting-with-github-made-easy-3g8"
          >GitHub Basics: Init, Commit, & Push</a
        >
      </figcaption>
    </figure>
  </div>

  <div id="articlesRow2">
    <figure>
      <a
        href="https://dev.to/ceblakely/github-basics-pt-2-branches-and-pull-requests-3dfm"
        ><img src="/images/github2.jpg"
      /></a>
      <figcaption>
        <a
          href="https://dev.to/ceblakely/github-basics-pt-2-branches-and-pull-requests-3dfm"
          >GitHub Basics Pt. 2: Branches and Pull Requests</a
        >
      </figcaption>
    </figure>
    <figure>
      <a href="https://dev.to/ceblakely/sets-in-python-25ad"
        ><img src="/images/sets.png"
      /></a>
      <figcaption>
        <a href="https://dev.to/ceblakely/sets-in-python-25ad"
          >Sets in Python 🐍</a
        >
      </figcaption>
    </figure>
  </div>
</div>
