<div id="contactDiv">
  <h2>Get in Touch</h2>
  <p>
    Do you have a position or project you'd like to discuss? I am available for
    work centering around user experience research, interface design, and
    product management. Click below to say hello and I guarantee you'll hear
    from me within two business days.
  </p>
  <button><a href='mailto:christina@blakely.digital'>Let's Chat</a></button></a>
</div>
