<div id="contactDiv">
  <h2>Work With Me</h2>
  <p>
    Have a website that needs re-branding or have a company with no digital
    presence? Let’s chat!
  </p>
  <form>
    <label for="firstName">First name:</label
    ><input type="text" id="firstName" name="firstName" /><br />
    <label for="lastName">Last name:</label>
    <input type="text" id="lastName" name="lastName" /><br />
    <label for="emailAdd">Email Address:</label>
    <input type="email" id="emailAdd" name="Email Address" /><br />
    <label for="message">Your Message Here:</label>
    <input type="text" id="message" name="Enter Your Message Here" /><br />
    <input type="button" value="Submit" />
  </form>
</div>
