<div id="contactDiv">
  <img class="titleImg" src="images/homeImages/workWithMe.png" />
  <p>
    Have a website that needs re-branding or have a company with no digital
    presence? Send me an email with information on your company's goals and I
    will reach out within two business days.
  </p>
  <button><a href="mailto:hello@blakely.digital">Let's Chat</a></button>
</div>
