<div id="contactDiv">
  <h2>Working with Blakely Digital</h2>
  <p>
    Have a business with no digital presence or a website that needs rebranding?
    Send us an email with information on your company's goals and we will reach
    out within three business days.
  </p>
  <button><a href="mailto:hello@blakely.digital">Get in Touch</a></button>
</div>
