<div id="contactDiv">
  <h2>Working with Blakely Digital</h2>
  <p>
    Have a business with no digital presence or a website that needs rebranding?
    Click below to send an email with information on your company's goals and
    you'll receive a response within two business days.
  </p>
  <button><a href="mailto:hello@blakely.digital">Say Hello!</a></button>
</div>
