<footer>
  <h1><a href="/">Blakely Digital</a></h1>
  <p><a href="https://www.behance.net/blakelydigital">Behance.</a></p>
  <p><a href="https://github.com/christinablakely">GitHub</a></p>
  <p><a href="https://www.linkedin.com/in/ceblakely/">LinkedIn</a></p>
</footer>
