<footer>
  <h1><a href="/">Blakely Digital</a></h1>

  <p><a href="https://www.behance.net/blakelydigital">Behance.</a></p>
  <p><a href="">Pinterest</a></p>
  <p><a href="">Instagram</a></p>
</footer>
