<footer>
  <h1><a href="/">Christina Blakely Digital</a></h1>
  <div id="footerLinks">
    <h6><a href="https://www.behance.net/christinablakely">Behance.</a></h6>
    <h6><a href="https://github.com/christinablakely">GitHub</a></h6>
    <h6><a href="https://www.linkedin.com/in/blakelyc/">LinkedIn</a></h6>
  </div>
</footer>
