<footer>
  <div>
    <img id="footerLogo" src="images/BD Logo.png" />
  </div>
  <div>
    <p><a href="">Pinterest</a></p>
    <p><a href="">Instagram</a></p>
    <p><a href="">Behance.</a></p>
  </div>
</footer>
