<footer>
  <h1><a href="/">Christina Blakely Digital</a></h1>
  <div id="footerLinks">
    <p><a href="https://www.behance.net/blakelydigital">Behance.</a></p>
    <p><a href="https://github.com/christinablakely">GitHub</a></p>
    <p><a href="https://www.linkedin.com/in/blakelyc/">LinkedIn</a></p>
  </div>
</footer>
