<div id="introDiv">
  <img id="logo" src="images/BD Logo.png" />
  <div id="introRow">
    <div id="introCol1">
      <img id="bPrint" src="images/B Print.png" />
    </div>
    <div id="introCol2">
      <h3>
        I’m Christina - welcome to my Boston-based UX/UI design studio where I
        build creative websites and brand identities for the next generation of
        digital media.
      </h3>
      <img id="servicesImg" src="images/Services.png" />
    </div>
  </div>
</div>
