<div id="topBar">
  <h1>blakely digital</h1>
  <h3>web design & visual identity</h3>
</div>
<div id="introDiv">
  <div id="introText">
    <h3>
      I’m Christina - welcome to my Boston-based UX/UI design studio where I
      build creative websites and brand identities for the next generation of
      digital media. See the links below to keep up with me everywhere I exist
      on the Internet, take a look around my portfolio, and feel free to
      <a href="mailto:hello@blakely.digital">say hello!</a>
    </h3>
    <div id="links">
      <a href="https://www.behance.net/blakelydigital"
        ><img src="images/homeImages/behanceLogo.png"
      /></a>
      <img src="images/homeImages/pinterestLogo.png" />
      <a href="https://github.com/ceblakely"
        ><img src="images/homeImages/GitHub-Mark-64px.png"
      /></a>
      <img src="images/homeImages/Linkedin_Logo.png" />
    </div>
  </div>
  <img class="introIcon" src="images/homeImages/introIcon.png" />
</div>
