<div id="introDiv">
  <div id="introText">
    <h2>
      I build creative websites and brand identities for the next generation of
      digital media.
    </h2>
    <p>
      I specialize in user-centered design and building digital experiences to
      be remembered. See the links below to keep up with me everywhere I exist
      on the Internet, take a look around my portfolio, and feel free to
      <a href="mailto:christina@blakely.digital">say hello!</a>
    </p>
    <div id="links">
      <a href="https://www.behance.net/blakelydigital"
        ><img src="images/homeImages/behanceLogo.png"
      /></a>
      <a class="imgSpace" href="https://github.com/christinablakely"
        ><img src="images/homeImages/GitHub-Mark-64px.png"
      /></a>
      <a href="https://www.linkedin.com/in/blakelyc/"
        ><img src="images/homeImages/Linkedin_Logo.png"
      /></a>
    </div>
  </div>
</div>
