<div id="process">
  <img src="images/designProcess.png" />
  <div>
    <img src="images/defineTheNeed.png" />
    <p>
      Whether you are needing your first website or your existing website needs
      some work, we’ll need to define what success looks like for you. This
      could mean an increase in online sales or repeat customers by a certain
      percentage, enhanced brand loyalty amongst the target audience, or
      whatever metric you are looking to change. Once the need has been defined,
      we will dig a little deeper into the brand and the competitive landscape.
    </p>
  </div>
  <div>
    <img src="images/brandResearch.png" />
    <p>
      At this stage, we will collect information on the brand history, products,
      services, competitors, and public perception. This information will be
      used alongside the user research to create relevant designs that are
      catered to the audience and enhance the brand identity.
    </p>
  </div>
  <div>
    <img src="images/uxResearch.png" />
    <p>
      This is a deeper dive into the needs and experience of your target
      audience. At this stage, we will investigate potential barriers that could
      be impacting user engagement, create user personas, and empathy maps. This
      will allow our design decisions to be guided by the needs of the user.
    </p>
  </div>
  <div>
    <img src="images/designDev.png" />
    <p>
      All the information gathered from the previous steps will be used in this
      stage, where we nail down the information architecture to ensure the user
      is able to easily navigate the website, a well-defined and consistent
      brand is showcased, and the products and/or services being offered are
      catered to the needs and experiences of the target audience.
    </p>
  </div>
</div>
