<div id="projects">
  <h2>The Portfolio</h2>
  <div id="projectsRow1">
    <figure>
      <img src="images/cuup.png" />
      <figcaption><a href="">View</a></figcaption>
    </figure>
    <figure>
      <img src="images/dvsty.png" />
      <figcaption><a href="">View</a></figcaption>
    </figure>
  </div>
</div>
