<div id="projectsDiv">
  <div id="projectsRow1">
    <figure>
      <h5>UX/UI DESIGN</h5>
      <a href="skullcandy"
        ><img src="images/SkullcandyImgs/SC.png"
      /></a>
   </figure>
   <figure>
     <h5>UX/UI DESIGN</h5>
      <a href="cuup"><img src="images/homeImages/CUUP Redesign.png" /></a>
  </figure>
    </div>
    <div id="projectsRow2">
      <figure>
        <h5>UX/UI DESIGN</h5>
        <a href="cuup"><img src="images/homeImages/CUUP Redesign.png" /></a>
    </figure>
  <figure>
    <h5>UX/UI DESIGN</h5>
      <a href="/dvsty"><img src="images/homeImages/DVSTY Project Update.png" /></a>
    </figure>
   
    </div>
  </div>
</div>
