<div id="projectsDiv">
  <h2>Past Work</h2>
  <div id="projectsRow">
    <figure>
      <a href="cuup"><img src="images/homeImages/cuup.png" /></a>
      <figcaption><a href="/cuup">CUUP Redesign Concept</a></figcaption>
    </figure>
    <figure>
      <a href="cuup"><img src="images/homeImages/cuup.png" /></a>
      <figcaption><a href="/cuup">CUUP Redesign Concept</a></figcaption>
    </figure>
    <figure>
      <a href="/dvsty"><img src="images/homeImages/dvsty.png" /></a>
      <figcaption><a href="/dvsty">DVSTY Redesign Concept</a></figcaption>
    </figure>
  </div>
</div>
