<div id="projectsDiv">
  <h2>Past Work</h2>
  <div id="projectsRow">
    <figure>
      <a href="skullcandy"
        ><img src="images/SkullcandyImgs/Skullcandy Behance Intro.png"
      /></a>
      <figcaption><a href="/cuup">Skullcandy Redesign Concept</a></figcaption>
    </figure>
    <figure>
      <a href="cuup"><img src="images/homeImages/CUUP Intro Again.png" /></a>
      <figcaption><a href="/cuup">CUUP Redesign Concept</a></figcaption>
    </figure>
    <figure>
      <a href="/dvsty"><img src="images/homeImages/DVSTY Icon.png" /></a>
      <figcaption><a href="/dvsty">DVSTY Redesign Concept</a></figcaption>
    </figure>
  </div>
</div>
