<div id="projectsDiv">
  <img class="titleImg" src="images/homeImages/pastWork.png" />
  <div id="projectsRow1">
    <figure>
      <a href="cuupProcess"><img src="images/homeImages/cuup.png" /></a>
      <figcaption><a href="/cuupProcess">View</a></figcaption>
    </figure>
    <figure>
      <a href="/dvstyProcess"><img src="images/homeImages/dvsty.png" /></a>
      <figcaption><a href="/dvstyProcess">View</a></figcaption>
    </figure>
  </div>
</div>
