<div id="projectsDiv">
  <div id="projectsRow1">
    <figure>
      <a href="skullcandy"
        ><img src="images/SkullcandyImgs/SC.png"
      /></a>
   </figure>
   <figure>
      <a href="cuup"><img src="images/homeImages/CUUP Redesign.png" /></a>
  </figure>
    </div>
    <div id="projectsRow2">
  <figure>
      <a href="/dvsty"><img src="images/homeImages/DVSTY Project.png" /></a>
    </figure>
    </div>
  </div>
</div>
