<div id="projects">
  <h3>Projects</h3>
  <div id="projectsRow1">
    <figure>
      <a href="https://ceblakely.github.io/keyrunner/"
        ><img src="/images/keyRunner.png"
      /></a>
      <figcaption>
        <a href="https://ceblakely.github.io/keyrunner/">KeyRunner</a>
      </figcaption>
    </figure>

    <figure>
      <img src="" />
      <figcaption><a href="">Responsive Beauty Interface</a></figcaption>
    </figure>
  </div>
  <div id="projectsRow2">
    <figure>
      <img src="" />
      <figcaption></figcaption>
    </figure>
  </div>
</div>
