<div id="projectsDiv">
  <img class="titleImg" src="images/homeImages/pastWork.png" />
  <div id="projectsRow1">
    <figure>
      <a href="cuup"><img src="images/homeImages/cuup.png" /></a>
      <figcaption><a href="/cuup">View</a></figcaption>
    </figure>
    <figure>
      <a href="cuup"><img src="images/homeImages/cuup.png" /></a>
      <figcaption><a href="/cuup">View</a></figcaption>
    </figure>
    <figure>
      <a href="/dvsty"><img src="images/homeImages/dvsty.png" /></a>
      <figcaption><a href="/dvsty">View</a></figcaption>
    </figure>
  </div>
</div>
