<!DOCTYPE html>
<head>
    <title>A Little White Chapel | Blakely Digital</title>
    <link rel="stylesheet" href="/brand.css" type="text/css" />
    <link rel="stylesheet" href="https://use.typekit.net/pcp3nqd.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <div id="topBar">
        <h1><a href="/">Blakely Digital</a></h1>
        <h3>Web Design & Brand Identity Studio</h3>
    </div>

    <div class="centeredCol">
        <!-- INTRO IMAGE--><img class="smallImg" src="images/ALWCImgs/brandIntro.png">
        <div>
            <h2>Moodboard</h2>
            <img class="standard" src="images/ALWCImgs/ALWC Moodboard.png">
        </div>
        
        <div>
            <h2>Color Scheme</h2>
            <img class="standard" src="images/ALWCImgs/ALWC-Color-Scheme.jpg">
        </div>
        <div class="centeredCol">
            <h2>Typographic Style</h2>
            <img class="standard" src="images/ALWCImgs/ALWC-Typographic-Style.jpg">
            <img class="standard" src="images/ALWCImgs/ALWC-3.jpg">
        </div>
        <div id="lastRow">
            <img class="smallImg" src="images/ALWCImgs/ALWC-2.jpg">
            <img class="" src="">
            <img class="" src="">
        </div>
    </div>
</body>
</html>