<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/process.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap"
    rel="stylesheet"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
  <nav>
    <a href="/"><img id="logo" src="images/homeImages/BD Logo.png" /></a>
  </nav>

  <div id="introDiv">
    <div>
      <img class="desktopMockup" src="images/cuupImgs/Intro.png" />
    </div>

    <div id="projectOverview">
      <h1>CUUP Website Rebrand</h1>
      <div>
        <h4>The Problem</h4>
        <p>
          CUUP has been facing negative reviews about product quality and the
          return/exchange process that are adversely impacting sales. The rise
          and fall of Instagram fashion’s reputation has also left consumers
          feeling dubious about the specialized fit CUUP claims to offer.
          Additionally, the existing website does not adequately reflect the
          aesthetic that the brand promotes on Instagram. This branding
          discrepancy is detrimental to CUUP’s ability to attract new customers
          and create brand loyalty amongst existing customers.
        </p>
      </div>
      <div>
        <h4>Objectives</h4>
        <p>
          Our objective was to rebrand the website to enhance CUUP’s credibility
          by providing information on how their bras are designed to fit a
          variety of body types and education for consumers that aim to
          understand how sizing works prior to purchasing. Also, the new website
          will address concerns with customer service by providing the
          return/exchange policies and what that process looks like.
        </p>
        <ol>
          <li>Increase digital sales by 5% over the next quarter.</li>
          <li>
            Increase average time on website by 10% over the next quarter.
          </li>
          <li>Increase repeat customer visits by 10% over the next quarter.</li>
        </ol>
      </div>
    </div>
  </div>

  <div id="brandResearch">
    <h2>Brand Research</h2>
    <div>
      <h4>Brand History</h4>
      <p>
        CUUP is a direct to consumer startup focused on providing the essential
        bra for women. The company's vision is to have a collection of
        flattering, comfortable, and unrestrictive bras built for all women that
        don’t compromise comfort, fit, or aesthetic. Founded by Kearnon O'Molony
        and Abby Morgan, CUUP is headquartered in New York
      </p>
      <img class="standard" src="images/cuupImgs/moodboard.png" />
    </div>
    <div>
      <h4>Relevant Facts</h4>
      <ul>
        <li>CUUP offers cup sizes from A to H and band sizes from 30 to 38.</li>
        <li>Offers virtual bra fittings by appointment</li>
        <li>
          Free returns on all U.S. orders of unworn and undamaged full
          priced-bras and swimwear within 30 days of receiving
        </li>
        <li>
          They are supply-side integrated, meaning one of the lead investors
          owns the factories, which is why CUUP is able to make 35 sizes versus
          the 17. Most companies do about 12-17 fittings.
        </li>
      </ul>
    </div>
  </div>

  <div id="userResearch">
    <h2>User Experience Research</h2>
    <div id="targetAudience">
      <h4>Target Audience</h4>
      <p>
        CUUP's target audience primarily include people that want to enhance
        their confidence and femininity by investing in understated, but
        stylish, undergarments. ***REVISE THIS****There are a number of barriers
        to purchase that potential customers could be facing: The media channels
        CUUP advertises in are not reaching our target customers. Our target
        customers do not know what differentiates CUUP from any other bra. The
        target customer would prefer to go to a store and try on a bra to ensure
        the correct size is purchased.
      </p>
    </div>
    <div id="empathyMaps">
      <h4>Aggregated Empathy Map</h4>
      <p>
        Since our target audience is quite large, I decided to create an empathy
        map to get a general overview of what a typical user's feelings, pain
        points, and experience could look like while navigating CUUP's website.
      </p>
      <img class="empathyMap" src="images/cuupImgs/cuupEmpathyMap.png" />
    </div>
    <div id="userPersonas">
      <h4>User Personas</h4>
      <p></p>
      <div id="personasContainer">
        <a class="userBackBtn" onclick="plusSlides(this, -1)">&#10094;</a>
        <div class="userSlide fade">
          <p class="numbertext">1/3</p>
          <img class="user" src="images/cuupImgs/persona1.png" />
        </div>
        <div class="userSlide fade">
          <p class="numbertext">2/3</p>
          <img class="user" src="images/cuupImgs/persona2.png" />
        </div>
        <div class="userSlide fade">
          <p class="numbertext">3/3</p>
          <img class="user" src="images/cuupImgs/persona 3.png" />
        </div>
        <a class="userNextBtn" onclick="plusSlides(this, 1)">&#10095;</a>
      </div>
    </div>
    <div>
      <span class="userDot" onclick="currentSlide(1)"></span>
      <span class="userDot" onclick="currentSlide(2)"></span>
      <span class="userDot" onclick="currentSlide(3)"></span>
    </div>
  </div>

  <div id="uiDesign">
    <h2>Interface Design</h2>
    <div>
      <p>
        It was important for this website redesign to not appear like too
        drastic of a change for CUUP's brand. Their existing website's color
        palette is black and white, with the exception of the color in the
        images. This minimalist color palette makes sense for a bra company that
        focuses on the only the essential features that make for a supportive
        bra, but I found that adding different shades of white and grey allowed
        for the product images to pop more. Giving the website more personality
        allows us to better showcase the Spring and Summer Collections, which
        allows us to meet our objectives of increasing sales, time on the
        website, and number of repeat customers.
      </p>
    </div>
    <div>
      <h4>Design Strategy</h4>
      <p></p>
    </div>
    <div>
      <h4></h4>
    </div>
  </div>
  <script src="process.js"></script>
</body>
