<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/process.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap"
    rel="stylesheet"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
  <nav>
    <a href="/"><img id="logo" src="images/homeImages/BD Logo.png" /></a>
  </nav>

  <div id="mockupImages">
    <div>
      <h2>Desktop Design</h2>
      <img class="desktopMockup" src="images/dvstyImgs/desktopDvsty.png" />
    </div>
    <div>
      <h2>Mobile Design</h2>
      <img class="mobileMockup" src="images/dvstyImgs/mobileDvsty.png" />
    </div>
  </div>

  <div id="projectOverview">
    <h2>Project Overview</h2>

    <div>
      <h4>The Problem</h4>
      <p>
        DVSTY’s current website does not adequately communicate the brand’s
        identity or desired messaging to its target audience as being Boston’s
        most unique consignment shop for luxury and vintage clothes, music, art.
        The current website does not reinforce the brand aesthetic that is being
        pushed through other channels, such as social media posts or
        advertising. The generic nature of DVSTY's current website is working
        against the company's goal of becoming a well-established, must-see
        location in Boston for vintage and luxury enthusiasts.
      </p>
    </div>
    <div>
      <h4>Objectives</h4>
      <p>
        Redesign DVSTY’s website to create a central location for existing and
        potential customers to get a sense of the brand's identity, browse
        products, learn information about sales or promotions. This project's
        success will be based on the following metrics:
      </p>
      <ol>
        <li>At least a 10% increase in online sales</li>
        <li>At least a 15% increase in repeat website visitors</li>
        <li>At least a 5% increase in in-store sales</li>
        <li>At least a 5% increase in customer consignment</li>
      </ol>
    </div>
  </div>

  <div id="brandResearch">
    <h2>Brand Research</h2>
    <div>
      <h4>Brand History</h4>
      <p>
        DVSTY was established in 2020 by Ian Drake, a small business owner in
        Jamaica Plain, Boston. The business has thrived despite the COVID-19
        pandemic and the impressions on social media platforms like Instagram,
        TikTok, and Facebook continue to grow. DVSTY started by offering only
        clothing items but branched out to include music, art, and other
        miscellaneous rare items.
      </p>
    </div>
    <div>
      <h4>Relevant Facts</h4>
      <ul>
        <li>
          Millennials and Gen Z, who make up a large amount of DVSTY's target
          demographic, may not have the money to purchase vintage or luxury
          items, even if it is secondhand.
        </li>
        <li>
          DVSTY always has a sale, which gives the Millennial and Gen Z
          demographic an opportunity to purchase these items at a discount.
        </li>
        <li>
          In addition to clothing, DVSTY offers artwork, vinyl records, musical
          instruments, and other miscellaneous items that are accessible to
          people with a variety of budgets.
        </li>
        <li>
          DVSTY faces numerous competitors in the Boston Area; the primary
          competition is the Goodwill and Boomerang thrift stores that are right
          across the street. These are DVSTY's largest competitors, as both
          Goodwill and Boomerang offer secondhand clothing at a bargain price.
          Besides them, DVSTY competes with about five other consignment shops
          in Boston. These consignment shops cater only to women's luxury items.
        </li>
      </ul>
    </div>
  </div>

  <div id="userResearch">
    <h2>User Experience Research</h2>
    <div id="targetAudience">
      <h4>Target Audience</h4>
      <p>
        DVSTY caters to a large audience, primarily between the ages of 16-65.
        More specifically, as a consignment store, DVSTY's target audience are
        those with an affinity for vintage and luxury items and those that want
        to make some money by allowing DVSTY to re-sell their vintage and luxury
        pieces. The other consignment stores in the Boston area tend to be
        particulary catered to women, so the intent is to make it clear that
        there is something for all genders for sale at DVSTY.
      </p>
    </div>
    <div id="userPersonas">
      <h4>User Personas</h4>
      <p>
        To narrow in on our target even further, we need to understand the
        underlying beliefs and behaviors of our target in order to better
        connect to them. Click through each user persona to view their
        interests, motivations, goals, and pain points.
      </p>
      <div></div>
    </div>
  </div>

  <div id="uiDesign">
    <h2>Interface Design</h2>
    <div>
      <p>
        The design for DVSTY's website needed to match the edgy and artsy vibe
        that can be seen inside the store, as well as on TikTok, Instagram, and
        Facebook. The website needed to be designed to strategically cater to
        the needs of the target audience, but it was necessary to start this
        process by narrowing down the basic elements the website needed to
        include.
      </p>
    </div>
  </div>
</body>
