<head>
  <link rel="stylesheet" href="/home.css" type="text/css" />
</head>
<body>
  <div id="main">
    <%- include('../partials/nav.ejs'); %>
    <div id="content">
      <%- include ('../partials/about.ejs') %> <%-
      include('../partials/articles.ejs'); %>
    </div>
  </div>
</body>
