<!DOCTYPE html>
<head>
  <title>Skullcandy | Blakely Digital</title>
  <link rel="stylesheet" href="/process.css" type="text/css" />
  <link rel="stylesheet" href="https://use.typekit.net/oui6ruy.css" />
  <link rel="stylesheet" href="https://use.typekit.net/pcp3nqd.css" />
  
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>

  <div id="topBar">
    <h1><a href='/'>Blakely Digital</a></h1>
    <h3>Web Design & Brand Identity Studio</h3>
  </div>

  <div>
    <div class="colCentered">
      <img id="introImg" src="images/SkullcandyImgs/SC Behance.png" />
    </div>

    <div class="colCentered">
      <h2>Project Overview</h2>
      <div>
        <h4>The Problem</h4>
        <p>
            While Skullcandy’s <a href="https://skullcandy.com">current website</a> has well-designed graphics with an engaging use of color, it lacks a design that speaks to the outdoor actions sports demographic that is considered to be their target audience. This inconsistent messaging is hindering Skullcandy’s ability to create a memorable brand that the target audience chooses when shopping for new audio products.
        </p>
        <h4>Objectives</h4>
        <p>
            The goal of this website redesign was to infuse more of the brand’s history into its product promotion. The story of Skullcandy’s inception should be used to connect with the target audience and show how the products are designed specifically for them. The following are metrics that will be used to determine the success of this website redesign
        </p>
        <ol>
          <li>Increase in online sales.</li>
          <li>
            Increase in average time on website.
          </li>
          <li>Increase in repeat visits.</li>
        </ol>
      </div>
 
  </div>

  <div class="colCentered">
    <h2>Brand Research</h2>
    <div>
      <h4>Brand History</h4>
      <p>
        Skullcandy Inc. is an American company based in Park City, Utah, that markets headphones, earphones, hands-free devices, audio backpacks, MP3 players, and other products.  In 2001, Rick Alden, a former snowboarder, was frustrated at having to unplug his earphones from his tunes to use his phone. His solution was called Link--headphones and technology that paired the two devices. It was Skullcandy's first product. Skullcandy was later founded by Rick Alden and Cris Williams in 2003. Skullcandy was acquired by Mill Road Capital for $196.9 million at $6.35 per share. The deal was finalized and completed on October 3, 2016, and the company became a private business again.
      </p>
      <h4>Relevant Facts</h4>
      <ul>
        <li>Skullcandy's products are targeted at the outdoor action sports demographic (snowboarders, skateboarders, etc.) and general consumer market.</li>
        <li>Skullcandy holds a patent for the wireless version of LINK technology.</li>
        <li>
            The current CEO is Jason Hodell and he has been CEO since October 2016.
        </li>
        <li>
            Skullcandy can be purchased online and in retail stores.
        </li>
        <li>Skullcandy's vision statement is, "Be the #1 brand for the youthful and adventurous audio consumer."</li>
      </ul>
  </div>
  </div>

  <div class="colCentered">
    <h2>User Experience Research</h2>
    <div>
      <h4>Target Audience</h4>
      <p>
        Company founder and former CEO Rick Alden has noted that Skullcandy was created for the skateboarder, snowboarder, surfers, and those that want a reliable way to listen to their music while they live an active lifestyle. 
      </p>
      <p>
        There are a few things to consider when thinking about the target audience's perspective on purchasing audio products:
      </p>
      <ol>
        <li>
          There are so many options in the market that potential customers may not know what the best option is to fit their needs.
        </li>
        <li>
          A quality set of headphones or earbuds tend to be relatively expensive, and since Skullcandy's target demographic is people that live an active lifestyle, they know their headphones/earbuds may need to be replaced more frequently. Because of this, they are wanting something that is more affordable.
        </li>
        <li>
          The target customer would prefer to go to a store and try on a bra to
          ensure the correct size is purchased.
        </li>
      </ol>
  
      <h4>User Personas</h4>
      <p>The following user personas go into detail about CUUP's target audience. From this information, I am able to design an interface based on the lifestyle, needs, expectations, and pain points that the target audience experiences.</p>
      <!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <div class="numbertext">1 / 2</div>
    <img class='standard' src="images/SkullcandyImgs/Persona 1.png">
    <div class="text">Caption Text</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 2</div>
    <img class='standard' src="images/SkullcandyImgs/Persona 2.png">
    <div class="text">Caption Two</div>
  </div>


  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
</div>
  </div>
  </div>

  <div class="colCentered">
    <h2>Interface Design</h2>
    <div>
      <p>
        This website redesign needed to speak more directly to the target audience than their current website; as the current website stands, there is confusion as to who is being sold the product. Skullcandy's history needed to be embedded into the website in order to appeal to the skateboarder, snowboarder, biker, surfer, or any other athlete that Skullcandy is the right brand for. Additionally, the name Skullcandy alludes to a colorful brand with a pop of energy, which I made sure was represented in the redesign. 
      </p>
      <p>
        *** CHANGE THIS TEXT AND THE IMAGE BELOW FOR SKULLCANDY ***The chosen fonts for this website redesign were Inter for the headings
        and Habibi for the paragraphs, links, and buttons. Habibi is highly
        elegant and classic serif font that reflects CUUP's commitment to an
        understated and quality product. Inder complements Habibi by being
        highly legible and designed for the online reader.
      </p>
      <img class="standard" src="images/cuupImgs/Color and Font.png" />
    </div>


    <div>
      <h4>Progression of Desktop Design</h4>
      <div class="colCentered rowCentered">
        <img class="smallMockup" src="images/cuupImgs/Home Desktop - 1.png" />
        <img class="smallMockup" src="images/SkullcandyImgs/Desktop Home - 2.png" />
      </div>
      <h4>Final Desktop Design</h4>
      <div class="colCentered">
        <img class="largeMockup" src="images/SkullcandyImgs/Desktop Home - 3.png" />
        <img class="largeMockup" src="images/SkullcandyImgs/Order Page MacBook Pro 16_ - 1.png">
      </div>
    </div>

    <div>
      <h4>Mobile Design</h4>
      <img class="design" src="images/SkullcandyImgs/Mobile Revised.png" />
    </div>
  </div>
  <%- include('../partials/footer.ejs') %>
  <script src="process.js"></script>
</body>
