@media (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
  }
  #logo {
    max-width: 90vw;
    width: 100%;
    height: auto;
  }
  #links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #links img {
    height: 5vh;
    padding: 0.5%;
  }
  #introDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
  }
  #introCol {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #introCol h3 {
    font-family: "Bodoni Moda", serif;
    width: 70vw;
  }

  #servicesImg {
    max-width: 90vw;
    width: 100%;
    height: auto;
    padding: 2%;
  }
  #projectsDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c2efb3;
    border: 2px solid black;
  }
  #projectsRow1 img {
    max-width: 60vw;
    width: 100%;
    height: auto;
  }
  figcaption {
    text-align: center;
  }
  #processDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #processDiv div img {
    max-width: 22vw;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
  }
  #introDiv h3 {
    font-family: "Bodoni Moda", serif;
    text-align: center;
    width: 75vw;
  }
  #processDiv p,
  #contactDiv p {
    font-family: "Bodoni Moda", serif;
    margin-left: 0;
    width: 80vw;
  }
  #contactDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a4133c;
    border: 2px solid black;
    padding-bottom: 3%;
  }
  button {
    padding: 1%;
  }
  figcaption a,
  button a {
    color: #0000ee;
    text-decoration: none;
  }
  figcaption a:hover,
  button a:hover {
    text-decoration: underline;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eacdb7;
    padding-top: 3%;
    padding-bottom: 3%;
  }
  footer p a {
    color: #ffffff;
    text-decoration: none;
  }
  footer p a:hover {
    text-decoration: underline;
  }
  #footerLogo {
    max-width: 70vw;
    width: 100%;
    height: auto;
  }
  .titleImg {
    max-width: 40vw;
    width: 100%;
    height: auto;
    padding-top: 3%;
    padding-bottom: 3%;
  }
}
@media (min-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 100%;
    overflow-x: hidden !important;
  }
  #introDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
  }
  #logo {
    max-width: 70vw;
    width: 100%;
    height: auto;
  }
  #links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  #links img {
    height: 5vh;
    padding: 0.5%;
  }

  #introCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #introCol h3 {
    font-family: "Bodoni Moda", serif;
    font-size: 21px;
    width: 70vw;
    margin: 0;
  }
  #servicesImg {
    max-width: 60vw;
    width: 100%;
    height: auto;
  }
  #projectsDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c2efb3;
    border: 2px solid black;
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  #projectsRow1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  #projectsRow1 img {
    max-width: 40vw;
    width: 100%;
    height: auto;
  }
  #processDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
    height: auto;
    padding-bottom: 3%;
  }
  #processDiv div img {
    max-width: 27vw;
    width: 100%;
    height: auto;
    padding-top: 3%;
  }

  #introDiv p {
    font-family: "Bodoni Moda", serif;
    width: 60%;
    margin: 0;
    text-align: center;
  }
  #processDiv p,
  #contactDiv p {
    font-family: "Bodoni Moda", serif;
    margin-left: 0;
    width: 80vw;
  }
  #contactDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a4133c;
    border: 2px solid black;
    max-width: 100%;
    width: 100%;
    height: auto;
    padding-bottom: 3%;
  }
  button {
    padding: 1%;
  }
  figcaption {
    text-align: center;
  }
  figcaption a,
  button a {
    color: #0000ee;
    text-decoration: none;
  }
  figcaption a:hover,
  button a:hover {
    text-decoration: underline;
  }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0d0628;
    max-width: 100%;
    width: 100%;
    height: auto;
    padding-top: 3%;
    padding-bottom: 3%;
  }
  footer p a {
    color: #ffffff;
    text-decoration: none;
  }
  footer p a:hover {
    text-decoration: underline;
  }
  #footerLogo {
    max-width: 40vw;
    width: 100%;
    height: auto;
  }
  .titleImg {
    max-width: 40vw;
    width: 100%;
    height: auto;
    padding-top: 3%;
    padding-bottom: 1%;
  }
}
