@media (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  #logo {
    max-width: 90vw;
    width: 100%;
    height: auto;
  }
  #introDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
  }
  #introCol2 h3 {
    font-family: "Bodoni Moda", serif;
    width: 70vw;
  }
  #bPrint {
    display: none;
  }
  #servicesImg {
    max-width: 80vw;
    width: 100%;
    height: auto;
  }
  #projects img {
    max-width: 60vw;
    width: 100%;
    height: auto;
  }
  #projectsRow1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  figcaption {
    text-align: center;
  }
  h2,
  h3 {
    text-align: center;
  }
  p {
    font-family: "Bodoni Moda", serif;
    width: 75vw;
  }
}
@media (min-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  #introDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #logo {
    max-width: 80vw;
    width: 100%;
    height: auto;
  }
  #introRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #bPrint {
    height: 70vh;
  }
  #introCol2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
  }
  #introCol2 h3 {
    font-family: "Bodoni Moda", serif;
    width: 60vw;
  }
  #servicesImg {
    max-width: 60vw;
    width: 100%;
    height: auto;
  }

  #projects img {
    max-width: 35vw;
    width: 100%;
    height: auto;
  }
  #projectsRow1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  figcaption {
    text-align: center;
  }
  #process div {
    display: flex;
    flex-direction: column;
  }

  h3 {
    text-align: center;
  }
  h2 {
    font-size: 35px;
    text-align: center;
  }
  h4 {
    font-size: 30px;
    margin-left: 10%;
    padding: 0;
  }
  p {
    font-family: "Bodoni Moda", serif;
    width: 60%;
  }
  #process p {
    margin-left: 30%;
  }
}
@media (min-width: 992px) {
}
