@media (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
  }
  #logo {
    max-width: 85vw;
    width: 100%;
    height: auto;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #introDiv,
  #brandResearch,
  #userResearch,
  #uiDesign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #introDiv p,
  #introDiv li,
  p,
  li {
    width: 80vw;
    font-family: "Bodoni Moda", serif;
  }
  .empathyMap {
    width: 60vw;
  }
  .standard {
    width: 90vw;
  }
  .smallMockup {
    max-width: 80vw;
    width: 100%;
    height: auto;
    border: 5px solid black;
    border-radius: 10px;
    margin: 1%;
  }
  .largeMockup {
    max-width: 80vw;
    width: 100%;
    height: auto;
    border: 5px solid black;
    border-radius: 10px;
  }
  .design {
    max-width: 90vw;
    width: 100%;
    height: auto;
  }
  #progressDesigns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding-top: 3%;
    padding-bottom: 3%;
  }
  footer p a {
    color: #ffffff;
    text-decoration: none;
  }
  footer p a:hover {
    text-decoration: underline;
  }
  #footerLogo {
    max-width: 70vw;
    width: 100%;
    height: auto;
  }
}
@media (min-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 100%;
    overflow-x: hidden !important;
  }

  #logo {
    max-width: 35vw;
    width: 100%;
    height: auto;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #introDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100vh;
  }

  #introDiv p,
  #introDiv li {
    width: 45vw;
    font-family: "Bodoni Moda", serif;
  }
  p,
  li {
    width: 65vw;
    font-family: "Bodoni Moda", serif;
  }
  #progressDesigns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .largeMockup {
    max-width: 80vw;
    width: 100%;
    height: auto;
    border: 5px solid black;
    border-radius: 10px;
  }
  .empathyMap {
    width: 60vw;
  }
  .standard {
    width: 70vw;
  }
  .smallMockup {
    max-width: 40vw;
    width: 100%;
    height: auto;
    border: 5px solid black;
    border-radius: 10px;
    margin: 1%;
  }
  .design {
    width: 90vw;
  }
  .sectionTitle {
    max-width: 27vw;
    width: 100%;
    height: auto;
  }
  #brandResearch,
  #userResearch,
  #uiDesign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #personasContainer {
    position: relative;
    margin: 0;
  }
  .userDot {
    text-align: center;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    transition: background-color 0.6s ease;
  }
  .userBackBtn,
  .userNextBtn,
  .mockupBackBtn,
  .mockupNextBtn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #ed6b60;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .userNextBtn,
  .mockupNextBtn {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .active,
  .userDot:hover {
    background-color: #717171;
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  .userSlide {
    display: none;
  }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000000;
    max-width: 100%;
    width: 100%;
    height: auto;
    padding-top: 3%;
    padding-bottom: 3%;
  }
  footer p a {
    color: #ffffff;
    text-decoration: none;
  }
  footer p a:hover {
    text-decoration: underline;
  }
  #footerLogo {
    max-width: 40vw;
    width: 100%;
    height: auto;
  }
}
