@media (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
  }
  #logo {
    max-width: 35vw;
    width: 100%;
    height: auto;
  }
}
@media (min-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 100%;
    overflow-x: hidden !important;
  }
  #logo {
    max-width: 35vw;
    width: 100%;
    height: auto;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #introDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  p,
  li {
    width: 60vw;
    font-family: "Bodoni Moda", serif;
  }
  li {
    font-family: "Bodoni Moda", serif;
  }
  .empathyMap {
    width: 60vw;
  }
  #brandResearch,
  #userResearch,
  #uiDesign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
